
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Event app", welcome_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "log in", log_in_path %></li>
            <li> <%= link_to "Sign up", new_user_path %></li>

          </ul>
        </nav>
      </div>
      </header>

<h2> listing users </h2>



<table border="1px">
  <tr>
    <th>Name</th>

    <th colspan="2"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.fname %></td>

      <td><%= link_to 'Show events', user_events_path(user) %></td>
      <td><%= link_to 'Create events', new_user_event_path(user) %></td>
    
    </tr>
  <% end %>
</table>