      <%= render 'events/header' %>
      
      <%if current_user.id!=@event.owner_id%> 

      <%= form_for :event, url: user_event_path, method: :put do |f|%>

      <%= f.label :Enter_Event_name%>    <%= f.text_field :title ,:disabled => true %></br></br>
      <%= f.label :Enter_Venue%>       <%= f.text_field :venue,:disabled => true %></br></br>
      <%= f.label :Enter_date%>       <%= f.text_field :date ,:disabled => true%></br></br>
      <%= f.label :Enter_time %>           <%= f.text_field :time,:disabled => true %></br></br>
      <%= f.label :Enter_description%>    <%= f.text_area :description, size: "60x5",:disabled => true %></br></br>
      <%= f.label :Invited_by %> </br>    
      <% owner= User.find_by_id(@event.owner_id)%> 
      <%= owner.username%> </br>


    </br>
    <%@parts=@event.invitee%>
    <%= f.label :List_of_Invitees %>
    <% @parts.each do |role| %>
    <li>

     <%= role.username %>
   </li>
   <% end %> 
   <br>
   
   <%end%>
   <%= button_to "back", new_user_event_path(current_user), { method: :get, class: 'btn btn-success'} %>
   <%else%>

   <%= form_for :event, url: user_event_path, method: :put do |f|%>

   <%= f.label :Enter_Event_name%>    <%= f.text_field :title  %></br></br>
   <%= f.label :Enter_Venue%>       <%= f.text_field :venue%></br></br>
   <%= f.label :Enter_date%>       <%= f.text_field :date %></br></br>
   <%= f.label :Enter_time %>           <%= f.text_field :time%></br></br>
   <%= f.label :Enter_description%>    <%= f.text_area :description, size: "60x5" %></br></br>
   <%= f.label :Invited_by %> </br>    
   <%= current_user.username%> </br>
 </br>
 <%= f.label :Select_invitee %> 
 <%@parts=User.all%>
 <%@participants=@event.invitee%>

 <% @parts.each do |role| %>
 <li>
  <%if @participants.include?(role)%>
  <%= check_box_tag 'role_ids[]', role.id, {checked: true} %>
  <%= role.username %>
  <%else%>
  <%= check_box_tag 'role_ids[]', role.id %>
  <%= role.username %> 
  <%end%>
</li>
<% end %>
<br> 

<%= f.submit :Submit,:class=>"btn btn-success" %>
<%= button_to "back", new_user_event_path(current_user), { method: :get, class: 'btn btn-success   '} %>

<%end%>
<%end%>
