<div class="container">





  <h2> listing Events </h2>



  <table border="1px">
    <tr>
      <th>title</th>
      <th>venue</th>
      <th>date</th>
      <th>time</th>
      <th>description</th>
      <th> </th>
      <th colspan="2"></th>
    </tr>

    <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.venue %></td>
      <td><%= event.date %></td>
      <td><%= event.time %></td>
      <td><%= event.description %></td>
      <td><%= link_to "participants", user_event_path(current_user, event), :remote => true, :data => {:toggle => "modal", :target => "#myModal"}%></td>


    </tr>
    <% end %>
  </table>

  <div id="myModal" class="modal fade" role="dialog">

  </div>




</div>